<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NYU CUSP Gentrification Project 2019</title>
  </head>
  <body>
    <h1> Welcome! </h1>

    <form role="form" method='POST' action='/result'>
        <div class="form-group">
          <h3> What is your first name? </h3>
          <input type="text" name="first_name" class="form-control" id="url-box" placeholder="Tom" style="max-width: 300px;" autofocus required>
          <h3> What is your last name? </h3>
          <input type="text" name="last_name" class="form-control" id="url-box" placeholder="Brown" style="max-width: 300px;" autofocus required>
          <h3> How old are you? </h3>
          <input type="text" name="age" class="form-control" id="url-box" placeholder="21" style="max-width: 300px;" autofocus required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>



  </body>
</html>
